body {
    background-color: aliceblue;
}

footer {
    text-align: center;
}

.whole-content {
    background: white;
}

.weather-content {
    text-align: center;
}

form {
    text-align: center;
}

.form-button {
    background: #57b2e5;
}